@media (max-width:1120px){

}
@media (max-width:992px){

}
@media (max-width:780px) {
    nav .row .nav-link{
        display: none;
    }
    nav .row .bars{
        display: block;
    }
}
@media (max-width:576px){
    nav .container{
        width:100%;
        padding:0px 15px;
    }
}
